/* Базовые стили */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

html,
body {
    min-height: 100%;
}

body {
    color: var(--cl-black);
    background: var(--cl-white);
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-montserrat);
    color: var(--cl-violet);
}

a {
    display: inline-block;
    border-bottom: 1px solid var(--cl-black);
    color: var(--cl-black);
    text-decoration: none;
    fill: var(--cl-black);

    &:focus {
        border-color: transparent;
    }
}

:--heading {
    margin: 0;
    font-weight: 500;
}

h1 {
    font-size: 64px;
    line-height: 1;
    font-weight: 800;
}

h2 {
    font-size: 56px;
    line-height: 1;
    font-weight: 800;
}

h3 {
    font-size: 40px;
    line-height: 1;
    font-weight: 800;
}

h4 {
    font-size: 32px;
    line-height: 1;
    font-weight: 800;
}

h5 {
    font-size: 24px;
    line-height: 1.33;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.33;
    font-weight: 500;
}

ul,
ol {
    li {
        list-style: none;
    }
}

:--btn {
    border: none;
    background: none;
    cursor: pointer;
}

:--input {
    border-radius: 0;

    /* Прячет крестик очистки поля в IE */

    &::-ms-clear {
        display: none;
    }
}

input[type='number'] {
    /* Прячет стрелки управления поля number в Firefox */
    appearance: textfield;

    /* Прячет стрелки управления поля number в Chrome, Safari и Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        margin: 0;
        appearance: none;
    }
}

/* Убирает дефолтный крестик очистки поля поиска. */
input[type='search']::-webkit-search-cancel-button {
    display: none;
}

textarea {
    resize: none;
}

a,
:--btn,
:--input {
    &:disabled,
    &.is-disabled {
        cursor: default;
        pointer-events: none;
    }
}

fieldset {
    border: none;
}
