/* Базовые стили */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    color: var(--cl-white);
    background: var(--cl-red);
}

:focus {
    outline: 2px solid var(--cl-black);
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

html,
body {
    min-height: 100%;
}

body {
    color: var(--cl-black);
    background: var(--cl-white);
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;

    /* При выделении красным, фото выглядят крипово, 
    решили запретить выделение изображений */
    user-select: none;

    /* При использовании LQIP изображениям добавляется blur через фильтры.
    Это правило добавляет им плавное исчезновение при окончании подгрузки изображения. */
    transition: filter 1000ms;
}

a {
    display: inline-block;
    border-bottom: 1px solid var(--cl-black);
    color: var(--cl-black);
    text-decoration: none;
    fill: var(--cl-black);

    &:hover {
        border-color: var(--cl-red);
        color: var(--cl-red);
        fill: var(--cl-red);
    }

    &:focus {
        border-color: transparent;
    }
}

:--heading {
    margin: 0;
    font-weight: 500;
}

h1 {
    font-size: 80px;
    line-height: 1;
}

h2 {
    font-size: 64px;
    line-height: 1;
}

h3 {
    font-size: 56px;
    line-height: 1;
}

h4 {
    font-size: 32px;
    line-height: 1;
}

h5 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}

h6 {
    font-size: 16px;
    font-weight: bold;
    line-height: calc(24 / 16);
}

p {
    font-size: 16px;
    line-height: calc(24 / 16);
}

ul,
ol {
    li {
        list-style: none;
    }
}

:--btn {
    border: none;
    background: none;
    cursor: pointer;
}

:--input {
    border-radius: 0;

    /* Прячет крестик очистки поля в IE */

    &::-ms-clear {
        display: none;
    }

    &.parsley-error {
        border-color: var(--cl-red);
    }
}

input[type='number'] {
    /* Прячет стрелки управления поля number в Firefox */
    appearance: textfield;

    /* Прячет стрелки управления поля number в Chrome, Safari и Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        margin: 0;
        appearance: none;
    }
}

/* Убирает дефолтный крестик очистки поля поиска. */
input[type='search']::-webkit-search-cancel-button {
    display: none;
}

textarea {
    resize: none;
}

a,
:--btn,
:--input {
    &:disabled,
    &.is-disabled {
        cursor: default;
        pointer-events: none;
    }
}

fieldset {
    border: none;
}
