.container {
    max-width: 1600px;
    margin: 0 auto;
    padding-left: calc(var(--gs) * 14.5);
    padding-right: calc(var(--gs) * 14.5);

    @media (--desktop-lg) {
        padding-left: calc(var(--gs) * 10);
        padding-right: calc(var(--gs) * 10);
    }

    @media (--desktop) {
        padding-left: calc(var(--gs) * 6);
        padding-right: calc(var(--gs) * 6);
    }

    @media (--tablet) {
        padding-left: calc(var(--gs) * 3);
        padding-right: calc(var(--gs) * 3);
    }

    &--no-tablet {
        @media (--tablet) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
