.container {
    max-width: 1320px;
    margin: 0 auto;

    @media (--desktop-lg) {
        max-width: 1160px;
    }

    @media (--desktop) {
        max-width: 885px;
    }

    @media (--tablet) {
        max-width: 586px;
    }

    @media (--mobile-lg) {
        max-width: 312px;
    }
}
