
@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-display: swap;
    src: url('./fonts/Montserrat/Montserrat-Bold.ttf') format('ttf'),
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-display: swap;
    src: url('./fonts/Montserrat/Montserrat-Light.ttf') format('ttf'),
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf') format('ttf'),
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/Montserrat/Montserrat-Medium.ttf') format('ttf'),
}
