:root {
    /* Минимальный размер сетки.
    Все размеры делаем кратными ему (кроме случаев, где сетка неприменима). */
    --gs: 10px;

    /* Глобальные цвета проекта. */
    --cl-black: #222;
    --cl-white: #fff;
    --cl-violet: #602b7a;
    --cl-dk-violet: #4d2462;
    --cl-yellow: #ffd749;
    --cl-dk-yellow: #ffde89;
    --cl-green: #00a390;
    --cl-dk-green: #008d7d;
    --cl-blue: #1c90d2;
    --cl-dk-blue: #1e87c2;
    --cl-pink: #f8dddd;
    --cl-red: #ff4c8d;

    /* rgb-составляющие цветов для использования rgba(var(--rgb-black), var(--opacity)). */
    --rgb-black: 0, 0, 0;

    /* Шрифты проекта. */
    --font-montserrat: 'Montserrat', Arial, sans-serif;
}
