:root {
    /* Минимальный размер сетки.
    Все размеры делаем кратными ему (кроме случаев, где сетка неприменима). */
    --gs: 10px;

    /* Глобальные цвета проекта. */
    --cl-black: #222;
    --cl-white: #fff;
    --cl-violet: #602b7a;
    --cl-dk-violet: #4d2462;
    --cl-yellow: #ffd749;
    --cl-dk-yellow: #ffde89;
    --cl-green: #74ff72;
    --cl-dk-green: #64f462;
    --cl-blue: #1c90d2;
    --cl-dk-blue: #1e87c2;
    --cl-pink: #f8dddd;
    --cl-red: #ff4c8d;
    --cl-orange: #ff6658;
    --cl-dk-orange: #fb5849;
    --cl-grey: #fef4f6;
    --cl-dk-grey: #f8dfe4;
    --cl-melon: #fffcb8;
    --cl-dk-melon: #f5f197;
    --cl-pinky: #ec4f92;
    --cl-dk-pinky: #e63d85;
    --cl-purple: #b05cc1;
    --cl-dk-purple: #a744bb;

    /* rgb-составляющие цветов для использования rgba(var(--rgb-black), var(--opacity)). */
    --rgb-black: 0, 0, 0;

    /* Шрифты проекта. */
    --font-montserrat: 'Montserrat', Arial, sans-serif;
}
