.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    min-width: calc(var(--gs) * 10);

    /* Модификатор, чтобы попап разместить на десктопе. */
    &--relative {
        @media (--tablet-lg-min) {
            position: relative;
            background-color: transparent;
            z-index: 1;

            .modal-wrapper {
                overflow: visible;
            }

            .modal-container {
                box-shadow: none;
            }
        }
    }
}

.modal-wrapper {
    min-width: calc(var(--gs) * 10);
    display: block;
    width: auto;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    @media (--tablet-lg) {
        width: 100%;
    }

    @media (--tablet) {
        height: 100%;
    }

    &--fullscreen {
        width: 100%;
        height: 100%;
    }
}

.modal-container {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    /* border-radius: 4px; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-header {
    font-size: 24px;
    line-height: 120%;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: bold;
}

.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.popup {
    min-width: calc(var(--gs) * 10);
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    /* border-radius: 8px; */
    scrollbar-width: none;

    &--image-preview {
        max-height: 100%;
        overflow-y: auto;
        @media (--desktop-min) {
            width: 80vw !important;
        }
    }

    &--filters {
        @media (--tablet-lg-min) {
            background: transparent;
        }

        @media (--tablet-lg) {
            width: 100%;
        }

        .popup__close {
            @media (--tablet-lg-min) {
                display: none;
            }
        }
    }

    &--city-selection {
        overflow: hidden;
        height: 100%;
        @media (--tablet-min) {
            height: 600px;
        }
    }

    &--auth {
        width: 480px;
    }

    &--sm {
        width: 480px;
    }

    @media (--tablet) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        min-height: 100%;
        /* border-radius: 0; */
    }

    &--wide {
        width: 900px;

        @media (--tablet) {
            width: 100%;
        }
    }

    &--fullscreen,
    &--fixed {
        width: 100%;
        min-height: 100%;
    }

    &--aside {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 450px;
        height: 100%;

        @media (--tablet) {
            width: 100%;
        }
    }

    &--dropdown {
        width: 440px;
        text-align: left;
    }

    &--text {
        /* Здесь задаются стили для тегов и базовых классов, чтобы можно было вставлять контент из админки. */
        h3 {
            margin: calc(var(--gs) * 4) 0 calc(var(--gs) * 2);
            font-weight: bold;
        }

        p {
            margin: 0 0 calc(var(--gs) * 3);
        }

        strong {
            font-weight: bold;
        }
    }

    &__close {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        z-index: 1;
        fill: var(--cl-grey);
        transition: all $time ease;
        cursor: pointer;
        right: calc(var(--gs) / -2);
        top: calc(var(--gs) / -2);

        &:hover {
            fill: var(--cl-cyan);
        }

        .icon {
            pointer-events: none;
        }
    }

    &__footer {
        width: 100%;
        padding: calc(var(--gs) * 2) calc(var(--gs) * 3);

        @media (--tablet) {
            align-self: flex-end;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    &__body {
        width: 100%;
        padding: calc(var(--gs) * 5) calc(var(--gs) * 4);
        line-height: 150%;
        flex-grow: 1;

        .popup--image-preview & {
            display: flex;
            min-height: 100vh;

            @media (--desktop-min) {
                padding: calc(var(--gs) * 3.5) calc(var(--gs) * 7) calc(var(--gs) * 3.5) calc(var(--gs) * 7);
            }

            @media (--tablet-lg-min) and (--desktop) {
                padding: calc(var(--gs) * 6) calc(var(--gs) * 7) calc(var(--gs) * 7);
            }
        }

        .popup--city-selection & {
            height: 100%;
            overflow: hidden;
        }

        .popup--filters-glossary & {
            padding: 0;
        }

        @media (--tablet) {
            display: flex;
            flex-grow: 1;
        }

        @media (--mobile-lg) {
            padding: calc(var(--gs) * 4) calc(var(--gs) * 3);
            margin: 0;
        }
    }

    &__hl {
        @media (--tablet) {
            padding-right: calc(var(--gs) * 4);
        }
    }
}
