.header {
    background: transparent;

    &__wrap {
        padding-top: calc(var(--gs) * 5);
        padding-bottom: calc(var(--gs) * 5);
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (--desktop) {
            padding-top: calc(var(--gs) * 4);
            padding-bottom: calc(var(--gs) * 2);
        }

        @media (--tablet) {
            align-items: flex-start;
            padding-top: calc(var(--gs) * 2);
        }
    }

    &__logo {
        height: 68px;
        margin-right: 50px;
        margin-bottom: -27px;

        @media (--desktop-lg) {
            margin-right: 20px;
        }

        @media (--desktop) {
            margin-bottom: 20px;
        }

        @media (--tablet) {
            height: 46px;
            margin-right: 0;
            margin-bottom: -60px;
        }
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: -10px;

        @media (--desktop) {
            max-width: 400px;
        }

        &--media {
            margin-left: 0;
            @media (--desktop) {
                flex-direction: column;
                margin-top: -17px;
                align-items: flex-end;
            }
        }

        &-link {
            margin-right: calc(var(--gs) * 4);
            padding: calc(var(--gs) * 0.25) calc(var(--gs) * 1);
            border-radius: 13px;

            @media (--desktop-lg) {
                margin-right: calc(var(--gs) * 2);
            }

            @media (--desktop) {
                margin-bottom: 10px;
            }

            &:hover {
                background-color: rgba(96, 43, 122, 0.1);
            }

            &:active {
                background-color: var(--cl-violet);
                p {
                    color: var(--cl-white);
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &-phone {
            margin-right: calc(var(--gs) * 6);

            @media (--desktop-lg) {
                margin-right: calc(var(--gs) * 5);
            }

            @media (--desktop) {
                margin-right: 0;
                order: 100;
            }
        }

        &-link,
        &-phone {
            p {
                font-weight: 600 !important;
                color: var(--cl-violet);
            }
        }

        &-social {
            display: flex;

            &-item {
                display: flex;
                align-items: center;

                @media (--desktop) {
                    margin-bottom: 10px;
                }

                &:first-child {
                    margin-right: calc(var(--gs) * 2.5);
                }

                &-img {
                    &--whats {
                        width: 27px;
                        height: 28px;
                    }

                    &--tg {
                        width: 29px;
                        height: 25px;
                    }
                }
            }
        }
    }

    &__burger {
        &-img {
            cursor: pointer;
            width: 24px;
            height: 20px;
        }

        &-wrap {
            & .header__links {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 auto;

                padding-bottom: 30px;

                .header__links-link {
                    font-size: 18px !important;

                    &:hover {
                        background-color: var(--cl-white);
                        p {
                            color: var(--cl-violet) !important;
                        }
                    }
                }
            }

            & .header__links--media {
                position: relative;
                padding-bottom: 0;
                padding-top: 40px;
                flex-direction: column-reverse;
                align-items: center;

                &::before {
                    content: '';
                    position: absolute;
                    width: 64px;
                    height: 1px;
                    background-color: rgba(164, 140, 175, 0.5);
                    left: calc(50% - 32px);
                    top: 0;
                }

                a {
                    margin-bottom: 20px;
                }
            }

            & * {
                color: white !important;
            }

            & a {
                margin-right: 0;
            }
        }
    }
}
