.roadmap {
    padding: calc(var(--gs) * 10) 0;

    @media (--tablet) {
        padding: calc(var(--gs) * 6) 0 calc(var(--gs) * 8);
    }

    &__title {
        max-width: 1100px;
        margin-bottom: calc(var(--gs) * 5);

        @media (--desktop) {
            max-width: 828px;
            margin-bottom: calc(var(--gs) * 2);
        }

        @media (--tablet) {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 0;
        }

        @media (--mobile-lg) {
            font-size: 28px;
        }
    }

    &__list {
        position: relative;
        width: 1200px;
        height: 1350px;

        &-item {
            position: absolute;

            &:nth-child(1) {
                top: 0;
                left: 0;
                width: 374px;

                & .roadmap__list-item-img {
                    margin-bottom: calc(var(--gs) * 4);
                    width: 374px;
                    height: 339.16px;
                }

                .roadmap__list-item-text-wrap {
                    margin: 0 auto;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 244px;
                    height: 273.39px;
                    top: 197px;
                    left: 260px;
                    z-index: 2;
                    background-image: svg-load('../../img/svg/math_road_line_1.svg');
                }
            }

            &:nth-child(2) {
                top: 150px;
                left: 500px;

                & .roadmap__list-item-img {
                    width: 391.56px;
                    height: 218.9px;
                    position: absolute;
                    top: -115px;
                    right: -372px;
                }

                .roadmap__list-item-text-wrap {
                    margin: 0 auto;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 75px;
                    height: 240px;
                    top: 170px;
                    left: 320px;
                    z-index: 2;
                    background-repeat: no-repeat;
                    background-image: svg-load('../../img/svg/math_road_line_2.svg');
                }
            }

            &:nth-child(3) {
                top: 540px;
                left: 795px;

                & .roadmap__list-item-img {
                    width: 399px;
                    height: 244.65px;
                    position: absolute;
                    top: -80px;
                    left: -420px;
                }

                .roadmap__list-item-text-wrap {
                    margin: 0 auto;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 545px;
                    height: 80.5px;
                    top: 185px;
                    left: -560px;
                    z-index: 2;
                    background-repeat: no-repeat;
                    background-image: svg-load('../../img/svg/math_road_line_3.svg');
                }
            }

            &:nth-child(4) {
                top: 763px;
                left: 124px;
                width: 392px;
                display: flex;
                flex-direction: column-reverse;

                & .roadmap__list-item-img {
                    width: 390.74px;
                    height: 353.02px;
                }

                .roadmap__list-item-text-wrap {
                    margin: 0 auto;
                }
            }

            &:nth-child(5) {
                top: 783px;
                left: 724px;
                width: 394px;

                & .roadmap__list-item-img {
                    margin-bottom: calc(var(--gs) * 1);
                    width: 387px;
                    height: 363px;
                }
            }

            &-text {
                margin-top: calc(var(--gs) * 2);
                font-size: 16px;
                line-height: 1.5;

                &-wrap {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 300px;
                    align-items: center;
                }
            }

            &-number {
                width: 88px;
                height: 88px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--cl-yellow);
                font-size: 42px;
                font-weight: bold;
                margin-right: calc(var(--gs) * 2);
            }

            &-title {
                max-width: 192px;
                font-weight: bold;
                font-size: 24px;
                line-height: 1.3;
            }
        }
    }

    &__slide {
        @media (--mobile-lg) {
            flex-direction: column;
        }

        & .roadmap__list-item-img {
            @media (--tablet-min) {
                margin-right: calc(var(--gs) * 3);
            }

            @media (--tablet) {
                max-width: 240px;
                margin-right: calc(var(--gs) * 2);
            }
        }

        & .roadmap__list-item-text-wrap {
            @media (--tablet) {
                max-width: 250px;
            }

            @media (--mobile-lg) {
                max-width: 100%;
            }
        }

        & .roadmap__list-item-number {
            color: var(--cl-white);

            @media (--tablet) {
                font-size: 30px;
                width: 64.11px;
                height: 64.11px;
                margin-bottom: calc(var(--gs) * 1);
            }

            @media (--mobile-lg) {
                width: 56px;
                height: 56px;

                margin-bottom: calc(var(--gs) * 3);
            }
        }

        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(5) {
            @media (--mobile-lg) {
                & .roadmap__list-item-number {
                    margin-top: -35px;
                }
            }
        }

        & .roadmap__list-item-title {
            @media (--tablet) {
                font-size: 18px;
                margin-bottom: calc(var(--gs) * 1);
                max-width: 250px;
                width: 250px;
            }
        }

        & .roadmap__list-item-text {
            @media (--tablet) {
                margin-top: 0;
            }

            @media (--mobile-lg) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .swiper-container {
        height: 440px;
        width: 100%;

        @media (--tablet) {
            height: 360px;
        }

        @media (--mobile-lg) {
            height: 520px;
        }
    }

    .swiper-slide {
        font-weight: 700;
        background-color: transparent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .swiper-pagination-bullet {
        background-color: var(--cl-violet);
        opacity: 1;

        @media (--mobile-lg-min) {
            display: none;
        }
    }

    .swiper-pagination-bullet-active {
        border: 1px solid var(--cl-violet);
        background-color: transparent;
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 0;

        @media (--mobile-lg) {
            bottom: -5px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: var(--cl-dk-yellow);
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-weight: bold;
        font-size: 4rem;

        @media (--mobile-lg) {
            display: none;
        }

        @media (--tablet) {
            font-size: 3rem;
        }
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        @media (--tablet) {
            right: 0;
        }
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        @media (--tablet) {
            left: 0;
        }
    }
}
